body{
    margin:  20px auto;
    
}
.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

   .nurse{
      max-width: 200px;
        position: relative;
       top: -40px;
       left: -35%;
   }

    .family{
            max-width: 200px;
            position: relative;
            bottom: 200px;
            right: -35%;
    }
      
    .title, .titleTwo{
        width: 50%;
        margin-top: 5%;
        font-size: 6rem;
    }
    .titleTwo{
        text-align: right;
    }
    
    .header{
        display: flex;
        text-align: center;
        justify-content: space-between;
        width: 75%;
        
        .btn{
            font-size: 1.4rem;
        }
    }
   
    .registerContainer{
        .form();
        width: 50%;
        .registerForm, form{
            width: 100%;
            font-size: 1.5rem;
            .row{
                margin: 2%;
                .form-label, input{
                    margin: 1%;
                }
            }
            input, select{
                font-size: 1.4rem;
            }
            .btn{
                width: 20%;
                margin: 0 40%;
                font-size: 1.4rem;
            }
        }
       
    }
    .post .btn {
        font-size: 1.5rem;
        border: none;
    }
.loginContainer{
    // margin-top: 200px;    
    // width: 60%;
    position: absolute;
    top: 450px;
    .form();
    
    h1{
        text-align: center;
        font-size: 2rem;
    }
    .loginForm{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        input, label{
            margin: 2%;
            width: 100%;
            font-size: 1.4rem;
        }
    }
}

}
