.form{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    // justify-items: center;
    border: 1px solid #17a2b8;
    border-radius: 10px;
    .box();
    padding: 2%;    
    background-color: @form-background;
    input, select{
        border: 1px solid lightslategray;
    }
}

.box{
    box-shadow: 4px 4px 10px 2px #17a2b8;
}
.border{
    border-radius: 10px;
}