.nurseRegister{
    .form();
    margin-top: 15%;
    .row{
        padding: 1%;
    }
    h2{
     text-align: center;
     font-size: 2.5rem;
     }
     .form-label{
         margin: 2%;
         font-size: 1.5rem;
     }
     .btn{
         margin: 3% 35% 0;
     }
     .form-control{
         margin-bottom: 1%;
         font-size: 1.2rem;
     }
}
.dashCont{
    
    h3{
        margin:10%;
    }
}
.nurseDash {
    .box();
    border: 1px solid #17a2b8;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 650px;
    margin-top:15%;
    margin-left: 8%;
    .box();
    .left{
       display: flex;
       flex-direction: column;
       justify-content: space-around;
        height: 500px;
        .list{
            display: flex;
            flex-direction: column;
        }
        .card{ 
            border-radius: 10px;
            .card-header{
                display: flex;
                justify-content: space-between;
                font-weight: bold;
                font-size: 1.5rem;
            }
        }
    }
        .post{
        margin: 5% 0;
      .card{
        border-radius: 10px;
      }
        .list{
            display: flex;
            flex-direction: column;
        }
        .noPost{
            .card-body{
                padding: 5px;
                a{
                    font-size: 1.5rem;
                } 
            }
        }
    .btn{
        margin-left: 10px;
        font-size: 1rem;
    }
    .card-body{
        padding: 5px 0;
        display: flex;
        flex-direction: column;
        align-items: center;             
    }
    .card-header{
        display: flex;
        justify-content: space-between;
        
        font-weight: bold;
        font-size: 1.5rem;
    }
    .lightHeader{
        display: flex;
        justify-content: space-around;
        align-items: center;
       
        border-top: 1px solid #17a2b8;
        font-size: 1.3rem;
        }
    }
}

.addAvail{
    .form();
    .form-group{    
    display: flex;   
     
    font-size: 1.4rem;
    width: 100%;
    .left, .right{
        width: 48%;
    }
    .form-control, .form-label, .form-check-label, .form-check.input {
    margin: 5px 10px;
    font-size: 1.4rem;
   }
   
    .form-control{
        margin-bottom: 2%;
        font-size: 1.2rem;
    }
}
    .days_avail, .shifts_avail{
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        .form-check-label{
            margin: 0 10px;
        }
    }
    .btn{
        margin: 3% 35% 0;
        font-size: 1.2rem;
    }
}

.edit{    
    
    button{
        color: dodgerblue;
        border: none;
        background: none;
    }
    .form-control, .form-label, .form-check, select{
        width: 50%;
        margin-left: 20%;
        font-size: 1.4rem;
        margin-bottom: 5px;        
    }
    .form-control, .form-label,  .form-check.input {
        margin: 5px; 
        margin-left: 20%; 
   }
   .btn{
    border: 1px solid #17a2b8;
    margin: 2%;
    font-size: 1.4rem;
    }   
}

.days-avail{
    .form-check{
        width: 50%;
        margin-left: 20%;
        font-size: 1.4rem;
        margin-bottom: 5px;
    }
   
}
.modal-content{
    border: 3px solid #a0e8f3;
}
