.patientRegister{
    display: flex;
    width: 70%;
    margin: 10% 0;
    font-size: 1.4rem;
    .form();
    align-items: flex-start;
    .form-group, .form-control, .form-label, {
        margin: 8px 15px;
        font-size: 1.4rem;
   }
   select{
       width: 50%;
   }
   .check input, .check label{
       margin-bottom: 5px;
   }
   .animal{
       margin-top: 10px;
   }
   .btn{
       margin: 10px;
       width: 20%;
       font-size:1.4rem;
   }
   .patientDash {
    display: flex;
    justify-content: space-between;
    width: 650px;
    .profile p, .need p {
        line-height: 1.0;
        padding-bottom: 5px;
    }        
    .left{
        margin-right: 10%;
    .card{
        margin: 20% 0;       
        .card-header{
            display: flex;
            justify-content: space-between;
            background-color: #DCDCDC;
            font-weight: bold;
            font-size: 1.5rem;
        }
    }
    }
}
}