.patientRegister{
    margin-top: 55%;
    .form();
    font-size: 1.4rem;
    .form-control, .form-select, .form-check{
        width:75%;
        margin: 1%;
        font-size: 1.2rem;
    }
    .form-label{
        margin:1%;
    }
    .form-check{
        padding: 0 5%;
    }
    .btn{
        margin: 4%;
    }
}

.middle{
    width: 100%;
   display: flex;
    flex-direction: column;
    align-items: center;
    .dash{
        width:100%;
        display: flex;
       justify-content: center;
    position: relative;
    top: -200px;
    }
   .patientDash {
      .form();
      width: 50%;
      margin: 5%;
      .key{
          width:100%;
      }
    
      .container{
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-content: space-between;
          padding: 2%;  
          .accountInfo .need{
              margin-top: 10%;
          }
          .card{
              margin:  0 10%;
             .border();
             .card-header{
                display: flex;
                justify-content: space-between;                
                font-weight: bold;
                font-size: 1.5rem;
             }
             .card-body{
                 text-align: center;
             }
             .head{
                 font-weight: bold;
             }
          }
      }
      .list{
        display: flex;
        flex-direction: column;
        text-align: left;
      }
    }
}
.modal-title{
    font-size: 1.8rem;
    font-weight: bold;
    text-align:center;
    margin-top: 3%;
}
.addNeed{
    display: flex;
    flex-direction: column;
    padding: 3%;
        .form-group{    
            display: flex;
            flex-direction: column;
            font-size: 1.4rem;
            .form-control,  .form-check{
                font-size: 1.2rem;
                margin: 2%;
        
            }
        }        
        .days_avail, .shifts_avail{
            display: flex;
            flex-flow: wrap;
        }   
}
