.form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 1px solid #17a2b8;
  border-radius: 10px;
  box-shadow: 4px 4px 10px 2px #17a2b8;
  padding: 2%;
  background-color: #F5F5F5;
}
.form input,
.form select {
  border: 1px solid lightslategray;
}
.box {
  box-shadow: 4px 4px 10px 2px #17a2b8;
}
.border {
  border-radius: 10px;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Quicksand', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Quicksand', sans-serif;
}
h1 {
  font-size: 4rem;
  font-family: 'Kaushan Script', cursive;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
  text-align: center;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  background: #dad7d6;
}
body {
  margin: 20px auto;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.App .nurse {
  max-width: 200px;
  position: relative;
  top: -40px;
  left: -35%;
}
.App .family {
  max-width: 200px;
  position: relative;
  bottom: 200px;
  right: -35%;
}
.App .title,
.App .titleTwo {
  width: 50%;
  margin-top: 5%;
  font-size: 6rem;
}
.App .titleTwo {
  text-align: right;
}
.App .header {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 75%;
}
.App .header .btn {
  font-size: 1.4rem;
}
.App .registerContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 1px solid #17a2b8;
  border-radius: 10px;
  box-shadow: 4px 4px 10px 2px #17a2b8;
  padding: 2%;
  background-color: #F5F5F5;
  width: 50%;
}
.App .registerContainer input,
.App .registerContainer select {
  border: 1px solid lightslategray;
}
.App .registerContainer .registerForm,
.App .registerContainer form {
  width: 100%;
  font-size: 1.5rem;
}
.App .registerContainer .registerForm .row,
.App .registerContainer form .row {
  margin: 2%;
}
.App .registerContainer .registerForm .row .form-label,
.App .registerContainer form .row .form-label,
.App .registerContainer .registerForm .row input,
.App .registerContainer form .row input {
  margin: 1%;
}
.App .registerContainer .registerForm input,
.App .registerContainer form input,
.App .registerContainer .registerForm select,
.App .registerContainer form select {
  font-size: 1.4rem;
}
.App .registerContainer .registerForm .btn,
.App .registerContainer form .btn {
  width: 20%;
  margin: 0 40%;
  font-size: 1.4rem;
}
.App .post .btn {
  font-size: 1.5rem;
  border: none;
}
.App .loginContainer {
  position: absolute;
  top: 450px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 1px solid #17a2b8;
  border-radius: 10px;
  box-shadow: 4px 4px 10px 2px #17a2b8;
  padding: 2%;
  background-color: #F5F5F5;
}
.App .loginContainer input,
.App .loginContainer select {
  border: 1px solid lightslategray;
}
.App .loginContainer h1 {
  text-align: center;
  font-size: 2rem;
}
.App .loginContainer .loginForm {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.App .loginContainer .loginForm input,
.App .loginContainer .loginForm label {
  margin: 2%;
  width: 100%;
  font-size: 1.4rem;
}
.App .dash {
  display: flex;
}
.App .dash h3 {
  text-align: center;
  font-size: 3rem;
}
.register {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 1px solid #17a2b8;
  border-radius: 10px;
  box-shadow: 4px 4px 10px 2px #17a2b8;
  padding: 2%;
  background-color: #F5F5F5;
  font-size: 1.4rem;
  margin-top: -100px;
}
.register input,
.register select {
  border: 1px solid lightslategray;
}
.register .form-control,
.register .form-select,
.register .form-check {
  width: 75%;
  margin: 1%;
  font-size: 1.2rem;
}
.register .form-label {
  margin: 1%;
}
.register .form-check {
  padding: 0 5%;
}
.register .btn {
  margin: 4%;
}
.middle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dash {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 1px solid #17a2b8;
  border-radius: 10px;
  box-shadow: 4px 4px 10px 2px #17a2b8;
  padding: 2%;
  background-color: #F5F5F5;
  width: 50%;
  margin-top: -200px;
  align-items: flex-start;
}
.dash input,
.dash select {
  border: 1px solid lightslategray;
}
.dash .key {
  width: 110%;
}
.dash .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  padding: 2%;
}
.dash .container .accountInfo .need {
  margin-top: 10%;
}
.dash .container .card {
  margin: 0 10%;
  border-radius: 10px;
}
.dash .container .card .card-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.5rem;
}
.dash .container .card .card-body {
  text-align: center;
}
.dash .container .card .head {
  font-weight: bold;
}
.dash .list {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.modal-title,
h4 {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  margin-top: 3%;
  width: 100%;
}
.form-modal,
.days,
.shifts {
  display: flex;
  flex-direction: column;
  padding: 3%;
}
.form-modal .form-group,
.days .form-group,
.shifts .form-group,
.form-modal .form-check-label,
.days .form-check-label,
.shifts .form-check-label {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}
.form-modal .form-group .form-control,
.days .form-group .form-control,
.shifts .form-group .form-control,
.form-modal .form-check-label .form-control,
.days .form-check-label .form-control,
.shifts .form-check-label .form-control,
.form-modal .form-group .form-check,
.days .form-group .form-check,
.shifts .form-group .form-check,
.form-modal .form-check-label .form-check,
.days .form-check-label .form-check,
.shifts .form-check-label .form-check {
  font-size: 1.2rem;
  margin: 2%;
}
.form-modal .btn,
.days .btn,
.shifts .btn {
  margin: 0 15%;
  font-size: 1.4rem;
}
.form-modal .days,
.days .days,
.shifts .days,
.form-modal .shifts,
.days .shifts,
.shifts .shifts {
  display: flex;
  flex-flow: wrap;
}
.modal-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 1px solid #17a2b8;
  border-radius: 10px;
  box-shadow: 4px 4px 10px 2px #17a2b8;
  padding: 2%;
  background-color: #F5F5F5;
}
.modal-content input,
.modal-content select {
  border: 1px solid lightslategray;
}
.modal-content .modal-body {
  width: 100%;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.modal-content .modal-body .btn {
  font-size: 1.4rem;
  margin: 10px  20px 0 0;
}
