.form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-items: center;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 4px 4px 10px 2px #17a2b8;
  padding: 2%;
  background-color: #F5F5F5;
}
.form input,
.form select {
  border: 1px solid lightslategray;
}
.box {
  box-shadow: 4px 4px 10px 2px #17a2b8;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Quicksand', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Quicksand', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.App {
  display: flex;
  justify-content: center;
}
.App .registerContainer {
  margin-top: 200px;
  width: 550px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-items: center;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 4px 4px 10px 2px #17a2b8;
  padding: 2%;
  background-color: #F5F5F5;
}
.App .registerContainer input,
.App .registerContainer select {
  border: 1px solid lightslategray;
}
.App .registerContainer h1 {
  text-align: center;
}
.App .registerContainer .registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App .registerContainer .registerForm .form-group,
.App .registerContainer .registerForm .form-control,
.App .registerContainer .registerForm .form-label {
  margin: 5px 10px;
  font-size: 1.4rem;
}
.App .registerContainer .registerForm .btn {
  margin: 10px;
  width: 20%;
}
.App .loginContainer {
  margin-top: 200px;
  width: 60%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-items: center;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 4px 4px 10px 2px #17a2b8;
  padding: 2%;
  background-color: #F5F5F5;
}
.App .loginContainer input,
.App .loginContainer select {
  border: 1px solid lightslategray;
}
.App .loginContainer h1 {
  text-align: center;
  font-size: 2rem;
}
.App .loginContainer .loginForm {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.App .loginContainer .loginForm input,
.App .loginContainer .loginForm label {
  margin: 2%;
  width: 100%;
}
.App .dash {
  display: flex;
  width: 800px;
}
.App .dash h3 {
  text-align: center;
  font-size: 3rem;
}
.App .dash .patientDash,
.App .dash .nurseDash {
  display: flex;
  justify-content: space-between;
  width: 650px;
}
.App .dash .patientDash .profile p,
.App .dash .nurseDash .profile p,
.App .dash .patientDash .need p,
.App .dash .nurseDash .need p {
  line-height: 1;
  padding-bottom: 5px;
}
.App .dash .patientDash .left,
.App .dash .nurseDash .left {
  margin-right: 10%;
}
.App .dash .patientDash .left .card,
.App .dash .nurseDash .left .card {
  margin: 20% 0;
}
.App .dash .patientDash .left .card .card-header,
.App .dash .nurseDash .left .card .card-header {
  display: flex;
  justify-content: space-between;
  background-color: #DCDCDC;
  font-weight: bold;
  font-size: 1.5rem;
}
.nurseRegister {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-items: center;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 4px 4px 10px 2px #17a2b8;
  padding: 2%;
  background-color: #F5F5F5;
  margin-top: 5%;
}
.nurseRegister input,
.nurseRegister select {
  border: 1px solid lightslategray;
}
.nurseRegister .row {
  padding: 1%;
}
.nurseRegister h2 {
  text-align: center;
  margin-bottom: 10%;
  font-size: 2.5rem;
}
.nurseRegister .form-label {
  margin: 2%;
  font-size: 1.5rem;
}
.nurseRegister .btn {
  margin: 3% 35% 0;
}
.nurseRegister .form-control {
  margin-bottom: 1%;
  font-size: 1.2rem;
}
.post {
  margin-top: 5%;
}
.post .noPost .card-body {
  padding: 5px;
}
.post .noPost .card-body a {
  font-size: 1.5rem;
}
.post .btn {
  margin-left: 10px;
}
.post .card-body {
  padding: 0;
}
.post .card-header {
  display: flex;
  justify-content: space-between;
  background-color: #DCDCDC;
  font-weight: bold;
  font-size: 1.5rem;
}
.post .postDiv .card-header {
  background-color: #e4e3e3;
  border-top: 1px solid lightgray;
}
.post .postDiv .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}
.patientRegister {
  width: 70%;
  margin: 10% 0;
  font-size: 1.4rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-items: center;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 4px 4px 10px 2px #17a2b8;
  padding: 2%;
  background-color: #F5F5F5;
  align-items: flex-start;
}
.patientRegister input,
.patientRegister select {
  border: 1px solid lightslategray;
}
.patientRegister .form-group,
.patientRegister .form-control,
.patientRegister .form-label {
  margin: 8px 15px;
  font-size: 1.4rem;
}
.patientRegister select {
  width: 50%;
}
.patientRegister .check input,
.patientRegister .check label {
  margin-bottom: 5px;
}
.patientRegister .animal {
  margin-top: 10px;
}
.patientRegister .btn {
  margin: 10px;
  width: 20%;
  font-size: 1.4rem;
}
